@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-center {
  max-width: 1300px;
  margin: 0 auto;
  padding: 25px;
}
.page-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #222;
}
.property-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}

.property-table thead {
  background: #007bff;
  color: white;
}

.property-table th {
  padding: 14px 10px;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}

.property-table td {
  padding: 12px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #333;
}

.property-table tbody tr:nth-child(even) {
  background: #f8f9fc;
}

.btn {
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 13px;
  text-decoration: none;
  color: white;
  text-align: center;
}

a {
  margin-bottom: 20px;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}


a.add-link {
    display: inline-block;
}


label {
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
  color: #444;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  transition: 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}


button, .button {
  /* width: 100%; */
  background: #007bff;
  border: none;
  padding: 12px;
  font-size: 16px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover, .button:hover {
  background: #005ec2;
}
.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 15px;
}
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  background: white;
  transition: 0.3s;
}

select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}
